<div class="big-card-container">
  <div class="big-card-photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5n-VwGhDN3doDeQZAkXWdROF6u7a39ATB_w&s"
         alt=""
         height="200px"
         srcset=""
    >
  </div>
  <div class="big-card-title">
    <h1>
      <a href="#">Saiu a nova versão do Angular</a>
    </h1>
  </div>
  <div class="big-card-description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec faucibus, ipsum ac pulvinar dignissim, mi libero eleifend elit, commodo efficitur elit nunc sit amet tellus.
      Aenean nisi nulla, fringilla et velit id, vulputate feugiat nisi. Curabitur erat urna, euismod at dictum nec, vehicula et purus.
      Praesent blandit dui eget diam varius egestas. Sed sit amet dolor augue. Pellentesque efficitur dictum pretium.
    </p>
  </div>
</div>
