<header>
  <app-menu-bar />
</header>

<app-menu-title />

<div class="articles-container">
  <div class="articles-main">
    <app-big-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp4pe6lE7IQ5Anc4pQyfSsfCwFPV7I8nLUvg&s"
      cardTitle="New Iron Man"
      cardDescription="Marvel announcement new Iron Man Movie"
    />
  </div>
  <div class="articles-others">
    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnPsMIL37iEfQpTrIUGkq7yH8U5v1qolqHvA&s"
      cardTitle="New Avangers Movie!"
    />

    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfT4cePHg4iP5DDHI78dE6BisPLtXNlHTNCg&s"
      cardTitle="God of War Ragnarok break record!"
    />

    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXZwYlsxj5r7ZPJPTHGP59bO0Go0KrZOl1pQ&s"
      cardTitle="One Piece back in april 2025"
    />
  </div>
</div>
